body, html {
    background-color: rgb(50, 50, 50);
    height: 100%;
    color: white;
}

#gameCanvas {
    border: 5px solid black;
    float: left;
}

#messageBox {
    border: 1px solid black;
    float: bottom;
}

#messages {
    overflow: scroll;
    height: 150px;
    list-style-type: none; 
    margin: 0; 
    padding: 0;
  }
  
#messages li { 
    padding: 5px 10px; 
}

#playerBalances {
    overflow: scroll;
    height: 150px;
    border: 1px solid black;
    list-style-type: none; 
    margin: 0; 
    padding: 0;
  }
  
#playerBalances li { 
    padding: 5px 10px; 
}

.form input { 
    border: 0; 
    padding: 10px; 
    width: 120px; 
    margin-right: 0.5%; 
}


.button { 
    width: 30px; 
    background-color: darkcyan; 
    border: none; 
    padding: 10px; 
    color: white;
    display: inline;
}
    
.button:hover {
    background-color: blue;
}
  